
<%- include("partial/header.ejs") %>
<h1>Contact Form</h1>
<form class="contact-form">
  <label for="name">Enter Your Full name:</label><br>
  <input type="text" id="name" name="name"  placeholder="Enter Your Full name">

  <label for="html">Enter Your Email :</label><br>
  <input type="text" id="email" name="email" placeholder="Enter Your email">

<button class="contact-form-main" >Submit</button>
</form>
<div class="contact-main">
  <div class="call">
    <h1>Contact</h1>
    <p><span>&#128222</span>+91 6001052570</p>
    <p><span>&#9993</span>vlogkolkata0408@gmail.com</p>
    <p><span style="color: white;">	&#xf3c5</span>Biswas hostel ,Sajirhat more ,New Barrackpore,Kolkata-700131</p>
  </div>
  <div class="privacy">
    <h1>Pages</h1>
    <p>Acceptable Use Policy</p>
    <p>Contact Center Glossary</p>
    <p>Contact Us</p>
    <p>Privacy Policy</p>
    <p>Terms of Service</p>
    <p>User Notice</p>
  </div>
</div>
<%- include("partial/footer.ejs") %>