<%- include("partial/header.ejs") %>

    <div class="home-container">
        <h1 class="home-main-heading">Welcome to Abhishek Kushwaha blogs &vlogs</h1>
        <p class="home-main-para">I am a tech enthusiast,who is currently pursuing B.sc (honours) in Computer Science from Acharya Prafulla Chandra College .I love making videos on different technologies and amazing facts on my you tube channel <span style="font-weight: bold;   color:brown">Hasile Facts</span>.I own my
            personel website where I uploads my blogs and Vlogs,which I upload on my You tube Channel.I also feel good to attract with other people and so I have made this website useful for other content creater ,who can interact with me and upload content in <span style=" font-weight: bold;  color:brown">Write</span> block</p>

        
            <img src="abhi.jpg"  alt="" >
           


        <div class="articles">

            <h2>My latest articles on You tube</h2><br>
            <!-- <% for(var i=0;i<3;i++){%>

                <div>
                    <h4 style="color:rgba(255, 234, 0, 0.794)">
                    
                    </h4>
                    <p>
                    
                    <span style="color:rgba(255, 234, 0, 0.794) ;cursor:pointer;">&nbsp &nbsp  ...read more</span>
                    </p>
                </div>
                <%} %> -->
                <div class="videos">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/d_24AROOlRE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/qCo9u0rgEb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/e08b9wwsCoM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


        </div>
    </div>
    <%- include("partial/footer.ejs") %>